<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

            <h2 class="mt-5">Camera Effects using OpenCV</h2>
			<form method="post" action="{{ url_for('tasks') }}">
			<input type="submit" value="Stop/Start" name="stop" />
			<input type="submit" value="Gray" name="gray" />
			<input type="submit" value="Negative" name="negative" />
			<input type="submit" value="Pencil Sketch" name="pencil" />
			<input type="submit" value="Cartoon" name="cartoon" />
			<input type="submit" value="Face Only" name="face" />
			<input type="submit" value="Capture" name="click"/>

			</form>
            <img src="{{ url_for('video_feed') }}" height="80%">
			<h3 style="font-family:courier;">Instructions:</h3>
			<ol style="font-family:courier;">
			<li>Stop/Start--Toggle between stop or start for live streaming</li>
			<li>Capture--Take still-shots and save in the directory 'gallery'</li>
			<li>Grey--Toggle between grayscale and RGB output</li>
			<li>Negative--Toggle between negative and RGB output</li>
			<li>Pencil Sketch--Toggle between pencil sketch and RGB output</li>
			<li>Cartoon--Toggle between cartoon and RGB output</li>
			<li>Face Only--Toggle between your cropped out face, if present, and the original RGB output</li> 	
			
        </div>
    </div>
</div>
</body>